ksy-movie/webapp/coreframe/eclipse/bld-5.0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- edited by Sungkwon Kim (CyberImagination, Inc.) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.cyber-i.com/xml/bld"
	targetNamespace="http://www.cyber-i.com/xml/bld">
	<xs:element name="version" default="0.1">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="transaction-type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="" />
				<xs:enumeration value="transction" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="transaction">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="info" />
				<xs:element ref="processor-info" />
				<xs:element ref="input" />
				<xs:element ref="output" />
				<xs:element ref="test" minOccurs="0" />
				<xs:element ref="Signature" minOccurs="0" />
			</xs:sequence>
			<xs:attribute name="name" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="test">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="case" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="status" default="developing">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="" />
				<xs:enumeration value="developing" />
				<xs:enumeration value="ready-confirm" />
				<xs:enumeration value="confirmation" />
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sql">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="query" />
				<xs:element ref="mapping" />
			</xs:sequence>
			<xs:attribute name="max-rows" type="xs:positiveInteger" use="optional" default="100" />
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="setProperty" type="xs:string" />
	<xs:element name="script" default="//insert Java Code">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="language" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="java" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="import" use="optional" default="java.io.*,java.util.*">
						<xs:simpleType>
							<xs:restriction base="xs:string" />
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="query">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="" />
								<xs:enumeration value="normal" />
								<xs:enumeration value="batch" />
								<xs:enumeration value="storedprocedure" />
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="property" >
					<xs:complexType>
						<xs:attribute name="name" use="required">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="soap.url" />
									<xs:enumeration value="soap.action" />
									<xs:enumeration value="http.encoding" />
									<xs:enumeration value="http.method" />
									<xs:enumeration value="http.url" />
									<xs:enumeration value="mail.smtp_host" />
									<xs:enumeration value="mail.auth.id" />
									<xs:enumeration value="mail.auth.pwd" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="value" use="required" />
						<xs:attribute name="desc" type="xs:string" />
					</xs:complexType>
				</xs:element>
				
				
	<xs:element name="processor-info">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="transaction-type" minOccurs="0" />
				
				<xs:element ref="property" minOccurs="0" maxOccurs="unbounded">
					
				</xs:element>
				
				<xs:element ref="cache" minOccurs="0" />
				<xs:element ref="script" minOccurs="0" />
				<xs:element ref="sql" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="dbms" />
						<xs:enumeration value="soap" />
						<xs:enumeration value="http" />
						<xs:enumeration value="java" />
						<xs:enumeration value="mail" />
						<xs:enumeration value="file-reader" />
						<xs:enumeration value="file-writer" />
						<xs:enumeration value="file-reader-binary" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="datasource">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="output">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="block" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	
	<xs:element name="mapping">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="setProperty" />
				<xs:element ref="getProperty" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="input">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="block" minOccurs="0" maxOccurs="unbounded" />
				<xs:element ref="xml-document" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="info">
		<xs:complexType>
			<xs:all>
				<xs:element ref="name" minOccurs="0" maxOccurs="1" />
				<xs:element ref="description" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="version" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="author" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="http-access" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="status" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="effective-date" minOccurs="0" maxOccurs="1"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="http-access" type="xs:boolean" default="false" />
	<xs:element name="getProperty">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="field">
		<xs:complexType>
			<xs:attribute name="value">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="string" />
						<xs:enumeration value="int" />
						<xs:enumeration value="double" />
						<xs:enumeration value="float" />
						<xs:enumeration value="clob" />
						<xs:enumeration value="datetime" />
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="properties">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="xpath">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="default">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="format">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="decimal">
				<xs:simpleType>
					<xs:restriction base="xs:int" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="size" type="xs:positiveInteger" />
			<xs:attribute name="label" type="xs:string" />
		</xs:complexType>
	</xs:element>
	
	
	
  <xs:element name="enable" type="xs:string" default="false" />
  <xs:element name="expire" type="xs:positiveInteger" default="60"/>
	<xs:element name="effective-date" type="xs:string" />
	<xs:element name="group" type="xs:string" />
  <xs:element name="max-object-num" type="xs:positiveInteger" default="100"/>
  <xs:element name="event">
    <xs:complexType />
  </xs:element>
  
  
  
	<xs:element name="description" type="xs:string" default="write BLD Description" />
  
  <xs:element name="test-input">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="field" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
  
	<xs:element name="case">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="test-input"/>
        
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="cache">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="enable"/>
				<xs:element ref="expire" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="max-object-num" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="group" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="event"  minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="block">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
			<xs:attribute name="name" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="repeat" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="xpath" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
			
			<xs:attribute name="ref" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="id" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="class" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="xml-document">
		<xs:complexType />
	</xs:element>
	<xs:element name="SignatureValue">
		<xs:simpleType>
			<xs:restriction base="xs:string" />
		</xs:simpleType>
	</xs:element>
	<xs:element name="Signature">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SignatureValue" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
